# https://eslint.org/docs/user-guide/configuring#configuration-file-formats

{
  "extends": "airbnb",
  "rules": {
    "no-console": "off",
    "react/jsx-filename-extension": "off",
    "import/newline-after-import": "off",
    "import/no-extraneous-dependencies": "off",
    "react/prefer-stateless-function": "off"
  }
}

